/* Jeffrey Phelps 2018 RGB Color Guesser guessing game */

body {
    background-color: #232323;
    text-align: center;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    color: wheat;
    padding: 20px;
}

span {
    color: wheat;
}

#stripe {
    background-color: white;
    height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    border: 1px solid #232323;
    border-radius: 7%;
    margin: 3px;
}

.selected {
    background-color: blue;
}

#message {
    color: #232323;
}

